<!DOCTYPE html>  
<html>

{% extends 'theGames/base-bootstrap.html' %}

<head>
<link href="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></head>

{% block content %}

<center><u><h3> Updates </h3></u></center>

<div class="well well-sm">
<font size="3">Please select the nation or country you would like to see updates for:</font>

<center>
<div class="btn-group">
    <button class="btn">Select Your Nation</button>
    <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#"><i><u>Africa</u></i></a></li>
  <li><a href="#"> Botswana </a></li>
  <li><a href="#"> Cameroon </a></li>
  <li><a href="#"> Ghana </a></li>
  <li><a href="#"> Kenya </a></li>
  <li><a href="#"> Lesotho </a></li>
  <li class="divider"></li>
  <li><a href="#"><i><u>Americas</u></i></a></li>
  <li><a href="#"> Belize </a></li>
  <li><a href="#"> Bermuda </a></li>
  <li><a href="#"> Canada </a></li>
  <li><a href="#"> Falkland Islands </a></li>
  <li><a href="#"> Guyana </a></li>
  <li class="divider"></li>
  <li><a href="#"><i><u>Asia</u></i></a></li>
  <li><a href="#"> Aden </a></li>
  <li><a href="#"> Bangladesh </a></li>
  <li><a href="#"> Brunei Darussalam </a></li>
  <li><a href="#"> Hong Kong </a></li>
  <li><a href="#"> India </a></li>
  <li class="divider"></li>
  <li><a href="#"><i><u>Caribbean</u></i></a></li>
  <li><a href="#"> Cayman Islands </a></li>
  <li><a href="#"> Dominica </a></li>
  <li><a href="#"> Grenada </a></li>
  <li><a href="#"> Jamaica </a></li>
  <li><a href="#"> Montserrat </a></li>
  <li class="divider"></li>
  <li><a href="#"><i><u>Europe</u></i></a></li>
  <li><a href="#"> Jersey </a></li>
  <li><a href="#"> Malta </a></li>
  <li><a href="#"> Northern Ireland </a></li>
  <li><a href="events/"> Scotland </a></li>
  <li><a href="#"> Wales </a></li>
  <li class="divider"></li>
  <li><a href="#"><i><u>Oceania</u></i></a></li>
  <li><a href="#"> New Zealand </a></li>
  <li><a href="#"> Niue </a></li>
  <li><a href="#"> Norfolk Island </a></li>
  <li><a href="#"> Papua New Guinea </a></li>
  <li><a href="#"> Samoa </a></li>
  <li class="divider"></li>
    </ul>
</div>
</center>

<table class="table table-striped table-bordered table-condensed">
	<tr>
	<td> </td>
	<td><b> </b></td>
	<td><b> Woooo Donald MacDonald just won a gold medal for javelin!</b></td>
	</tr>
	<tr>
</table>

</div>


<script type="text/javascript">
$(function(){
    $(".dropdown-toggle").dropdown('toggle');
});

$('.dropdown-menu li a').click(function() {
    alert($(this).text());
});
</script>


<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>

{% endblock %}

</html>
