<!DOCTYPE html>  
<html>

{% extends 'theGames/base-bootstrap.html' %}

<head>
<link href="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></head>

{% block content %}

<style type="text/css">
.dropdown-menu ul {
    float: left;
    border-right: 1px solid black;
    padding-right:20px;
}
.header{
	color:black;
	font-size:15px;
}
</style>
<a href="/theGames/updates/" class="btn btn-primary btn-large"><i class="icon-white icon-chevron-left"></i> Back to All Updates</a>

<center><u><h2> Updates </h2></u></center>

<div class="well well-sm">

<font size="3">Please click the button below to select the nation you wish to follow:</font><br>

<center>
<div class="dropdown">
  <button class="dropdown-toggle" data-toggle="dropdown" href="#"><font size="3">Select Your Nation</font></button>
  <div class="dropdown-menu" role="menu">
      <ul>
          
        <li><a class="header" href="#"><i><u>Africa</u></i></a></li>
  <li><a href="#"> Botswana </a></li>
  <li><a href="#"> Cameroon </a></li>
  <li><a href="#"> Ghana </a></li>
  <li><a href="#"> Kenya </a></li>
  <li><a href="#"> Lesotho </a></li>
  </ul><ul>
  <li><a class="header" href="#"><i><u>Americas</u></i></a></li>
  <li><a href="#"> Belize </a></li>
  <li><a href="#"> Bermuda </a></li>
  <li><a href="/theGames/updateCanada/"> Canada </a></li>
  <li><a href="#"> Falkland Islands </a></li>
  <li><a href="#"> Guyana </a></li>
  </ul><ul>
  <li><a class="header" href="#"><i><u>Asia</u></i></a></li>
  <li><a href="#"> Aden </a></li>
  <li><a href="#"> Bangladesh </a></li>
  <li><a href="#"> Brunei Darussalam </a></li>
  <li><a href="#"> Hong Kong </a></li>
  <li><a href="#"> India </a></li>
  </ul><ul>
  <li><a class="header" href="#"><i><u>Caribbean</u></i></a></li>
  <li><a href="#"> Cayman Islands </a></li>
  <li><a href="#"> Dominica </a></li>
  <li><a href="#"> Grenada </a></li>
  <li><a href="#"> Jamaica </a></li>
  <li><a href="#"> Montserrat </a></li>
  </ul><ul>
  <li><a class="header" href="#"><i><u>Europe</u></i></a></li>
  <li><a href="#"> Jersey </a></li>
  <li><a href="#"> Malta </a></li>
  <li><a href="#"> Northern Ireland </a></li>
  <li><a href="updateScot/"> Scotland </a></li>
  <li><a href="#"> Wales </a></li>
  </ul><ul>
  <li><a class="header" href="#"><i><u>Oceania</u></i></a></li>
  <li><a href="#"> New Zealand </a></li>
  <li><a href="#"> Niue </a></li>
  <li><a href="#"> Norfolk Island </a></li>
  <li><a href="#"> Papua New Guinea </a></li>
  <li><a href="#"> Samoa </a></li>
  </ul><ul>
      </ul>
  </div>
</div>
</center>
</div>

<h3>Scotland Updates</h3>

<table class="table table-condensed">
<tr>
	<td class="success" height="15%" width="20%"><img src="/static/tick.png" width="10%" height="5%"></td>
	<td class="success"> Woo Donald McDonald just won a gold medal! </td>
</tr>
<tr>
	<td class="danger"><img src="/static/redCross.png" width="10%" height="5%"></td>
	<td class="danger"> Bobby just had a false start! </td>
</tr>
<tr>
	<td class="success"><img src="/static/tick.png" width="10%" height="5%"></td>
	<td class="success"> Senga just completed the triathlon! You go girl </td>
</tr>
</table>


<script type="text/javascript">
$(function(){
    $(".dropdown-toggle").dropdown('toggle');
});

$('.dropdown-menu li a').click(function() {
    alert($(this).text());
});
</script>


<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>

{% endblock %}

</html>
